snippet main "main entry" b
def main():
	${1:${VISUAL:pass}}


if __name__ == '__main__':
	main()
endsnippet

snippet thisdir "thisdir" b
THIS_DIR = pathlib.Path(__file__).resolve().parent
endsnippet
